<swap-tabs>
  <swap-tab tabTitle="Login">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label swap-textfield filled>
        <span>Usuário</span>
        <input
          swap-control
          type="text"
          formControlName="username"
          autocomplete="username"
        />
      </label>
      <label swap-textfield filled>
        <span>Senha</span>
        <input
          swap-control
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
      </label>
      <div class="flex space-between">
        <button type="reset" swap-button mode="secondary">Limpar</button>
        <button type="submit" swap-button mode="primary">Enviar</button>
      </div>
    </form>
  </swap-tab>
  <swap-tab tabTitle="Registro">
    <form [formGroup]="form">
      <label swap-textfield filled>
        <span>Usuário</span>
        <input
          swap-control
          type="text"
          formControlName="username"
          autocomplete="username"
        />
      </label>
      <label swap-textfield filled>
        <span>Senha</span>
        <input
          swap-control
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
      </label>
      <button type="reset" swap-button mode="secondary">Limpar</button>
      <button type="submit" swap-button mode="primary">Enviar</button>
    </form>
  </swap-tab>
</swap-tabs>
